/* main __________________________________________________________________________________________________*/
*{
   padding: 0%; 
   margin: 0%;
   
}
.filtro{
    background-color:#1D5D9B;
    color: aliceblue;
    list-style: none;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 20px;
    justify-content: space-around;
}

.container {
    background-color: #f3cc4c;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;  
    

}

.container img{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    margin-bottom: 35px;
    border-radius: 10px; 
  
}
.container h1{
    display: flex;
    margin-left: 255px;
    font-size: 50px;
    color: #1D5D9B;
    
}
.container2 {
    background-color: #f3bb4c;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;  
    

}

.container2 img{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-right: 700px;
    margin-bottom: 35px;
    border-radius: 10px; 
  
}
.container2 h1{
    display: flex;
    margin-left: 1000px;
    font-size: 50px;
    color: #1D5D9B;
    
}
.container3 {
    background-color: #f3b04c;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;  
    

}

.container3 img{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    margin-bottom: 35px;
    border-radius: 10px; 
  
}
.container3 h1{
    display: flex;
    margin-left: 255px;
    font-size: 50px;
    color: #1D5D9B;
    
}
.container4 {
    background-color: #f38f4c;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;  
    

}

.container4 img{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-right: 700px;
    margin-bottom: 35px;
    border-radius: 10px; 
  
}
.container4 h1{
    display: flex;
    margin-left: 1000px;
    font-size: 50px;
    color: #1D5D9B;
    
}