@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
}

/* BODY COR DE FUNDO */
body{
    background-color: #F6F4EB;
}


/* --------------- Header ------------------ */

/* HEADER LOGO, NOME E MENU */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #1D5D9B;
}

/* ESPAÇAMENTO DENTRO DOS FILHOS DO HEADER */
.header_gap{
    display: flex;
}

/* LOGOTIPO */



/* BARRA DE PESQUISA */

/* Geral */
.pesquisa, .pesquisa input, .pesquisa button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Container */
.pesquisa{
    width: 50%;
    height:100%;  
}

/* Barra de Pesquisa */
.pesquisa input{
    height: 40%;
    width: 50%;
    border-radius: 100px;
    border: hidden;
    padding-left: 10px;
}

/* Botão de Pesquisa */
.pesquisa button {
    border-color: black;
    width: 50px;
    height: 40%;
    margin-left: 20px;
}

/* MENU DE NAVEGAÇÃO */
#nav_cont nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    height: 100%;
}

/* Botões */
.botao{
    transition: 0.5s;
    height: 75%;
    /* width: ; */
}

/* Hover Botões */
.botao:hover{
    background-color: #75C2F6;
}


/* ---------------------- Main -------------------------- */

.banner{

    /* width: 100%; */
}

.ingresso{

    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.ingresso a img{
    width: 125%;

    display: flex;

}
  
/* ------------------------------------------------------------ */

.agendar {

    display: flex;
    justify-content: space-between;
}

.comprar{
    font-size: 50px;
    font-family: Bree Serif;

    padding-top: 5%;
    width: 50%;
    background-color: #91C8E4;
    
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  
}
  

#calendario{

    background-color: #749BC2;
    width: 45%;
    scale: 0.9;
}



/* Footer */



/* FOOTER */
footer {
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #1D5D9B;

    /* background-color: #4682A9; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

/* Item da lista */
li {
    list-style: none;
    padding: 20px;
}

/* Imagem do footer */
footer img {
    width: 200px;
    height: auto;
    /* padding-bottom: 120px; */
}

/* Parágrafo do Footer */
footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Container dos Links */
.sociais{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 50px;
}

/* Container das redes sociais */
.redes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

/* Imagens das redes sociais */
.redes img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    
}

/* Links */
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
a:hover {
    cursor: pointer;

}


.custom-shape-divider-top-1688056474 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1688056474 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1688056474 .shape-fill {
    fill: #F6F4EB;
}

/* ________ */
/* RESPONSIVIDADE DO FOOTER */
footer {
    flex-direction: column;
    height: auto;
}
li {
    padding: 25px;
}
ul{
    display: flex;
    padding-left: 0;

}
footer img {
padding-left: 20px;
scale: 0.6;

}

.sociais {
margin-top: 30px;
gap: 30px;
}

.sociais img{
scale: 0.6;
}
.redes img{
scale: 0.8;
}

.contato {
display: flex;
justify-content: center;
}

