/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family= Ultra & display=swap');


/* HEADER LOGO, NOME E MENU */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #1D5D9B;
}

/* ESPAÇAMENTO DENTRO DOS FILHOS DO HEADER */

/* Container Logo e Nome */
.header_gap{
    display: flex;
    height: 100%;
    align-items: center;
}

/* Imagem */
.header_gap img{
    height: 90%;
    width: 90px;
}

/* Título */
.header_gap h1{
    margin-left: 20px;
    font-family: Ultra, sans-serif;
}

/* BARRA DE PESQUISA */

/* Geral */
.pesquisa, .pesquisa input, .pesquisa button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Container */
.pesquisa{
    width: 50%;
    height:100%;  
}

/* Barra de Pesquisa */
.pesquisa input{
    height: 40%;
    width: 50%;
    border-radius: 100px;
    border: hidden;
    padding-left: 10px;
}

/* Botão de Pesquisa */
.pesquisa button {
    border-color: black;
    width: 50px;
    height: 40%;
    margin-left: 20px;
}

/* MENU DE NAVEGAÇÃO */
#nav_cont nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    height: 100%;
}

/* Botões */
.botao{
    transition: 0.5s;
    height: 50%;
    display: flex;
    align-items: center;
}

/* Hover Botões */
.botao:hover{
    background-color: #75C2F6;
}

/* Links */
.botao a {
    text-decoration: none;
    color: #fff;
}
body {
    background-color:#F6F4EB;
}

.contato{
    display: flex;
    justify-content: space-between;
    max-height: 1500;
}

.inf {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 150px;
  width: 50%;
  height: 45vh;
  font-size: 20px;
  background-color: #F6F4EB;
 
}

p  {
    color: #1D5D9B;
}

.forms {
    background-color: #1D5D9B;
    width: 50%;
    padding: 150px;
 
}


section form {
    display: flex;
    flex-direction: column;
    align-items: center;  
    

}

/* Alinhamento dos textos das caixas de entrada Forms */
section form label {
    display: flex;
    flex-direction: column;
   
}

/* Letras do Form acima */
section form label span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding: 5px;

    
}


h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #1D5D9B;
}



