
/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family= Ultra & display=swap');
/* BODY COR DE FUNDO */
body{
    background-color: #F6F4EB;
}

/* HEADER LOGO, NOME E MENU */

/* MAIN */

/* Container */
.carrossel{
    width: 100%;

}

/* Imagem de fundo */
.carrossel img{
    width: 100%;
    filter: brightness(0.3);
}