
/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/* BODY COR DE FUNDO */
body{
    background-color: #F6F4EB;
}

/* HEADER LOGO, NOME E MENU */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #1D5D9B;
}

/* ESPAÇAMENTO DENTRO DOS FILHOS DO HEADER */

/* Container Logo e Nome */
.header_gap{
    display: flex;
    height: 100%;
    align-items: center;
}

/* Imagem */
.header_gap img{
    height: 90%;
    width: 90px;
}

/* LOGOTIPO E NOME */

/* BARRA DE PESQUISA */

/* Geral */
.pesquisa, .pesquisa input, .pesquisa button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Container */
.pesquisa{
    width: 50%;
    height:100%;  
}

/* Barra de Pesquisa */
.pesquisa input{
    height: 40%;
    width: 50%;
    border-radius: 100px;
    border: hidden;
    padding-left: 10px;
}

/* Botão de Pesquisa */
.pesquisa button {
    border-color: black;
    width: 50px;
    height: 40%;
    margin-left: 20px;
}

/* MENU DE NAVEGAÇÃO */
#nav_cont nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    height: 100%;
}

/* Botões */
.botao{
    transition: 0.5s;
    height: 50%;
    width: ;
    display: flex;
    align-items: center;
}

/* Hover Botões */
.botao:hover{
    background-color: #75C2F6;
}

/* Links */
.botao a {
    text-decoration: none;
    color: #fff;
}