
/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family= Ultra & display=swap');
/* BODY COR DE FUNDO */
body{
    background-color: #F6F4EB;
}

/* HEADER LOGO, NOME E MENU */

/* MAIN */

/* Container */
.carrossel{
    width: 100%;

}

/* Imagem de fundo */
.carrossel img{
    width: 100%;
    filter: brightness(0.3);
}
/* Barra de Pesquisa */
.pesquisa input{
    height: 40%;
    width: 50%;
    border-radius: 100px;
    border: hidden;
    padding-left: 10px;
}

/* Botão de Pesquisa */
.pesquisa button {
    border-color: black;
    width: 50px;
    height: 40%;
    margin-left: 20px;
}

/* MENU DE NAVEGAÇÃO */
#nav_cont nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    height: 100%;
}

/* Botões */
.botao{
    transition: 0.5s;
    height: 50%;
    display: flex;
    align-items: center;
}

/* Hover Botões */
.botao:hover{
    background-color: #75C2F6;
}

/* Links */
.botao a {
    text-decoration: none;
    color: #fff;
}