
/* RESET DE CONFIG PAGINA */
*{
    padding: 0;
    margin: 0;
   
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family= Ultra & display=swap');
/* BODY COR DE FUNDO */
body{
    /* background-color: #fff; */
    background: url(Assets/Background/banner.gif);
    background-size: cover;
}


/* ___________________________________________________________________ */
/* Header */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #91C8E4;
}
nav ul li a:hover{
    background-color: #91C8E4;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
}
.log{
    margin-left: 10px;
}

li a{
    font-weight: bolder;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.header{
    background: #F6F4EB;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #006C8A;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s, color 0.3s, opacity 1s;
}
.btn:hover{
    background: #006C8A, #fff;
    opacity: 80% #fff;
}

/* _________________________________________________________________________________ */
.custom-shape-divider-top-1690540174 { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    line-height: 0; 
    
} 


.custom-shape-divider-top-1690543098 svg { 
    position: relativa; 
    display: block; 
    width: calc(100% + 1.3px); 
    height: 107px; 
} 

.custom-shape-divider-top-1690543098 .shape-fill { 
    fill: #F6F4EB; 
}


/* _________________________________________________________________________________ */
/* Barra de Pesquisa */
.pesquisa{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
}
.pesquisa input{
    height: 60%;
    width: 50%;
    border-radius: 100px;
    border: hidden;
    padding-left: 10px;
}

/* Botão de Pesquisa */
.pesquisa button {
    border-color: black;
    width: 50px;
    height: 40%;
    margin-left: 20px;
}


/* Hover Botões */
.botao:hover{
    background-color: ;
}

/* Links */
.botao a {
    text-decoration: none;
    color: #fff;
}


/* ___________________________________________________________________ */
/* Slides*/

.slider {
    width: 100%;
    height: 60vh;
    margin-top: 20px;
}

/* ___________________________________________________________________ */
/* Footer*/
footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #1D5D9B;

    /* background-color: #4682A9; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

/* Item da lista */
li {
    list-style: none;
    padding: 20px;
}

/* Imagem do footer */
footer img {
    width: 200px;
    height: auto;
    /* padding-bottom: 120px; */
}

/* Parágrafo do Footer */
footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Container dos Links */
.sociais{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 50px;
}

/* Container das redes sociais */
.redes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

/* Imagens das redes sociais */
.redes img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    
}

/* Links */
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
a:hover {
    cursor: pointer;

}


.custom-shape-divider-top-1688056474 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1688056474 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1688056474 .shape-fill {
    fill: #91C8E4;
}

/* ______________________________*/
/* Responsividade */

@media only screen and (max-width: 798px) {

    footer {
        flex-direction: column;
        height: auto;
    }
    li {
        padding: 25px;
    }
    ul{
        display: flex;
        padding-left: 0;

}
footer img {
   padding-left: 20px;

}
.sociais {
    margin-top: 30px;
}

.contato {
    display: flex;
    justify-content: center;
}

}